/*
 * auto generated. don't edit.
 */
import { PokemonId } from "@/types/compatibility";

export const {{constName}} = new Map<PokemonId, number>([
{{#mappings}}
    ["{{key}}", {{value}}],
{{/mappings}}
]);
